video-client/VideoService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://video.services.fmi" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax21="http://video.services.fmi/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://video.services.fmi">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://video.services.fmi/xsd">
            <xs:complexType name="Video">
                <xs:sequence>
                    <xs:element minOccurs="0" name="videoDescription" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="videoId" type="xs:int"/>
                    <xs:element minOccurs="0" name="videoTitle" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax22="http://video.services.fmi/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://video.services.fmi">
            <xs:import namespace="http://video.services.fmi/xsd"/>
            <xs:element name="VideoServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="VideoServiceException" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="create">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"/>
                        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax22:Video"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAll">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax22:Video"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getById">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getByIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:Video"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getAllRequest">
        <wsdl:part name="parameters" element="ns:getAll"/>
    </wsdl:message>
    <wsdl:message name="getAllResponse">
        <wsdl:part name="parameters" element="ns:getAllResponse"/>
    </wsdl:message>
    <wsdl:message name="VideoServiceException">
        <wsdl:part name="parameters" element="ns:VideoServiceException"/>
    </wsdl:message>
    <wsdl:message name="getByIdRequest">
        <wsdl:part name="parameters" element="ns:getById"/>
    </wsdl:message>
    <wsdl:message name="getByIdResponse">
        <wsdl:part name="parameters" element="ns:getByIdResponse"/>
    </wsdl:message>
    <wsdl:message name="createRequest">
        <wsdl:part name="parameters" element="ns:create"/>
    </wsdl:message>
    <wsdl:message name="createResponse">
        <wsdl:part name="parameters" element="ns:createResponse"/>
    </wsdl:message>
    <wsdl:portType name="VideoServicePortType">
        <wsdl:operation name="getAll">
            <wsdl:input message="ns:getAllRequest" wsaw:Action="urn:getAll"/>
            <wsdl:output message="ns:getAllResponse" wsaw:Action="urn:getAllResponse"/>
            <wsdl:fault message="ns:VideoServiceException" name="VideoServiceException" wsaw:Action="urn:getAllVideoServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getById">
            <wsdl:input message="ns:getByIdRequest" wsaw:Action="urn:getById"/>
            <wsdl:output message="ns:getByIdResponse" wsaw:Action="urn:getByIdResponse"/>
            <wsdl:fault message="ns:VideoServiceException" name="VideoServiceException" wsaw:Action="urn:getByIdVideoServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="create">
            <wsdl:input message="ns:createRequest" wsaw:Action="urn:create"/>
            <wsdl:output message="ns:createResponse" wsaw:Action="urn:createResponse"/>
            <wsdl:fault message="ns:VideoServiceException" name="VideoServiceException" wsaw:Action="urn:createVideoServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="VideoServiceSoap11Binding" type="ns:VideoServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getAll">
            <soap:operation soapAction="urn:getAll" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="VideoServiceException">
                <soap:fault use="literal" name="VideoServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getById">
            <soap:operation soapAction="urn:getById" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="VideoServiceException">
                <soap:fault use="literal" name="VideoServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="create">
            <soap:operation soapAction="urn:create" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="VideoServiceException">
                <soap:fault use="literal" name="VideoServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="VideoServiceSoap12Binding" type="ns:VideoServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getAll">
            <soap12:operation soapAction="urn:getAll" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="VideoServiceException">
                <soap12:fault use="literal" name="VideoServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getById">
            <soap12:operation soapAction="urn:getById" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="VideoServiceException">
                <soap12:fault use="literal" name="VideoServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="create">
            <soap12:operation soapAction="urn:create" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="VideoServiceException">
                <soap12:fault use="literal" name="VideoServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="VideoServiceHttpBinding" type="ns:VideoServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getAll">
            <http:operation location="getAll"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getById">
            <http:operation location="getById"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="create">
            <http:operation location="create"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="VideoService">
        <wsdl:port name="VideoServiceHttpSoap11Endpoint" binding="ns:VideoServiceSoap11Binding">
            <soap:address location="http://localhost:8080/video-service/services/VideoService.VideoServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="VideoServiceHttpSoap12Endpoint" binding="ns:VideoServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/video-service/services/VideoService.VideoServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="VideoServiceHttpEndpoint" binding="ns:VideoServiceHttpBinding">
            <http:address location="http://localhost:8080/video-service/services/VideoService.VideoServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
